<div id="global-player" class="global-player hidden">

  <div class="player-left">
    <img id="player-cover" src="" />
    <div>
      <div id="player-title">Название</div>
      <div id="player-artist">Артист</div>
    </div>
  </div>

  <div class="player-center">
    <button id="player-play">▶</button>
    <input type="range" id="player-progress" value="0">
  </div>

  <div class="player-right">
    <input type="range" id="player-volume" min="0" max="1" step="0.01" value="0.5">
  </div>

  <audio id="global-audio"></audio>

  <div id="sc-global-player" style="display:none;"></div>

</div>