.judge-page {
  max-width: 1100px;
  margin: 120px auto 40px;
  padding: 0 20px;
}

/* карточка */
.judge-card {
  background: rgba(52, 35, 48, 0.6);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.06);
  border-radius: 20px;

  overflow: hidden;
}

/* верх */
.top {
  display: flex;
  gap: 25px;
  padding: 25px;
  border-bottom: 1px solid rgba(255,255,255,0.05);

  background: linear-gradient(
    135deg,
    rgba(251, 200, 247, 0.08),
    rgba(107, 74, 98, 0.05)
  );
}

.cover {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  position: relative;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔥 glow эффект */
.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;

  background: linear-gradient(135deg,#ffffff,#ffffff);
  filter: blur(16px);
  opacity: 0.5;

  z-index: 0;
}

.cover img {
  width: 100%;
  height: 100%;

  object-fit: cover; /* 🔥 главное */
  display: block;

  border-radius: 16px;
}

.cover-inner {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;

  position: relative;
  z-index: 1;
}





/* панели */
.panel,
.panel2,
.panel3 {
  padding: 20px;
}

.row {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 70px;
  gap: 15px;
  align-items: center;
    transition: 0.2s;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.row:hover {
  transform: translateX(4px);
}

.rowTitle {
  font-weight: 700;
}

/* слайдер */
input[type="range"] {
  -webkit-appearance: none;

  height: 8px;
  border-radius: 999px;

  background: linear-gradient(
    90deg,
    #b07497 var(--fill, 0%),
    rgba(255,255,255,0.1) var(--fill, 0%)
  );

  transition: 0.2s;
}

input[type="range"]:hover {
  filter: brightness(1.2);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: #ffffff;

  border: none;

  margin-top: -4px;

  cursor: pointer;
}

/* значения */
.valueBox {
  background: rgba(69, 34, 46, 0.6);
  border: 1px solid rgba(255,255,255,0.06);

  border-radius: 12px;
  text-align: center;
  padding: 10px;

  font-weight: 700;
  transition: 0.2s;
}

.row:hover .valueBox {
  background: rgba(237, 138, 177, 0.2);
}

/* низ */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.05);
}

.pill {
  background: rgba(117, 81, 107, 0.6);
  border-radius: 12px;
  padding: 6px 10px;

  font-size: 14px;
  white-space: nowrap; /* 🔥 не переносится внутри */
}

.result {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-left: 10px;
}

.result span {
  font-size: 36px;

  background: linear-gradient(135deg,#ffffff,#ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pill.red {
  background: rgba(238, 226, 238, 0.2);
  border: 1px solid rgba(137, 7, 63, 0.3);
}

/* кнопки */
button {
  border-radius: 10px;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
}

#rateBtn {
  background: linear-gradient(135deg,#47262d,#502435);
  color: white;
  transition: 0.2s;
}

#rateBtn:hover {
  transform: translateY(-2px);

}

#resetBtn {
  background: rgba(255,255,255,0.08);
  color: white;
}

#resetBtn:hover {
  background: rgba(255,255,255,0.15);
}

.video-background {
  pointer-events: none;
}

.summary {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* если не влазит — перенос */

  max-width: 100%;
}

.cover-wrap {
  width: 60px;
  height: 60px;
  min-width: 60px;

  border-radius: 10px;
  overflow: hidden;

  background: #111;
}

.track-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row.active {
  background: rgba(124, 86, 109, 0.288);
  border-radius: 10px;
}



.rate-popup.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.custom-player {
  position: relative;

  display: flex;
  align-items: center;
  gap: 18px;

  padding: 16px 18px;
  margin: 24px 25px 8px;

  border-radius: 18px;

  background: rgba(61, 22, 39, 0.6);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.06);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.7),
    inset 0 1px 0 rgba(255,255,255,0.05);
}

.custom-player::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.15),
    transparent
  );

  opacity: 0.4;
  pointer-events: none;
}



.player-left {
  width: 60px;
  display: flex;
  justify-content: center;
}


.player-left button {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: #b07497;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* треугольник */


/* пауза */
/* PLAY (треугольник) */


/* PAUSE (две линии) */

/* скрываем play когда playing */


/* база */
.player-left button {
  position: relative;
}

/* скрываем всё по дефолту */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ▶ PLAY */
.icon.play {
  width: 0;
  height: 0;

  border-left: 12px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

/* ❚❚ PAUSE */
.icon.pause {
  display: flex;
  gap: 4px;
}

.icon.pause::before,
.icon.pause::after {
  content: "";
  width: 4px;
  height: 14px;
  background: white;
}

/* логика */
button.playing .play {
  display: none;
}

button:not(.playing) .pause {
  display: none;
}



.player-left button:active {
  transform: scale(0.95);
}



.player-center {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}



.progress-wrap {
  flex: 1;
  position: relative;
  height: 6px;
  border-radius: 999px;
  background: rgba(255,255,255,0.06);
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;

  background: #b07497;
  border-radius: inherit;

  transition: width 0.08s linear;
}

.time {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 11px;
  color: rgba(255,255,255,0.5);
}

#volume {
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  border-radius: 999px;

  background: linear-gradient(
    90deg,
    #b07497 var(--vol, 50%),
    rgba(255,255,255,0.15) var(--vol, 50%)
  );

  cursor: pointer;
  transition: 0.2s;
}

/* линия */
#volume::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 999px;
}

/* кружок */
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: #ffffff;

  margin-top: -4px;

  transition: 0.2s;
}

#volume:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}

#volume.muted {
  background: rgba(255,255,255,0.1);
}

#volume.muted::-webkit-slider-thumb {
  background: #888;
}


#scWrapper {
  position: fixed;
  left: -9999px;
  top: 0;
  width: 320px;
  height: 140px;
  opacity: 0.01;
  pointer-events: none;
  overflow: hidden;
}







#mp3Player {
  display: none;
  align-items: center;
  gap: 18px;
  width: 100%;
  padding: 10px 6px;
}

.player-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 130px;
  width: 120px;
}



.trackInfo small {
  display: inline-block;
  margin-bottom: 8px;
  color: rgba(255,255,255,0.5);
  letter-spacing: 0.18em;
}

.trackInfo h1 {
  margin: 0 0 4px;
  font-size: 30px;
  line-height: 1.05;
  letter-spacing: -0.02em;
}

.trackInfo h2 {
  margin: 0;
  color: #9ca3af;
  font-weight: 400;
  font-size: 18px;
}

.player-ui {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.player-track {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 220px;
}

.player-track img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}


.player-meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#playerTitle {
  font-size: 14px;
  font-weight: 600;
}

#playerArtist {
  font-size: 12px;
  color: rgba(255,255,255,0.5);
}



.player-track img {
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: 50%; /* 🔥 круг */
  object-fit: cover;

  box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}



/* центральная дырка */





@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#playerCover.playing {
  animation: spin 8s linear infinite;
}

.vinyl {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

/* сама обложка */
.vinyl img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* дырка винила */
.vinyl::after {
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;

  background: #111;
  border: 2px solid #333;
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}