.queue-page {
  max-width: 800px;
  margin: 120px auto 40px; /* 👈 ВОТ ЭТО ГЛАВНОЕ */
  padding: 0 20px;
}

.queue-title{

font-size:32px;
margin-bottom:25px;

}

.queue-list{

display:flex;
flex-direction:column;
gap:18px;

}

.track-card {
  display:flex;
  justify-content:space-between;
  align-items:center;

  background: rgba(69, 34, 46, 0.6);

  padding:16px 18px;

  border-radius:14px;

  border:1px solid rgba(255,255,255,0.05);

  transition:0.2s;
}

.track-card:hover {
  border-color: #b07497;
  box-shadow: 0 0 0 1px rgba(201, 36, 154, 0.15);
  transform: translateY(-2px);
}

.track-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.track-cover {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

.track-info{

display:flex;
flex-direction:column;

}

.track-artist{

font-size:16px;
font-weight:600;

}

.track-title {
  font-size:14px;
  color: rgba(255,255,255,0.5);
}

.track-actions{

display:flex;
gap:10px;

}

.judge-btn {
  background: rgba(176,116,151,0.2);
  border: 1px solid rgba(176,116,151,0.3);

  color: white;

  padding:8px 14px;

  border-radius:8px;

  cursor:pointer;
  font-size:14px;

  transition:0.2s;
}

.judge-btn:hover {
  background: rgba(176,116,151,0.24);
border-color: rgba(176,116,151,0.4);
}

.delete-btn {
  background: rgba(59, 8, 26, 0.325);
border: 1px solid rgba(223, 202, 211, 0.159);

  color: white;

  padding:8px 12px;

  border-radius:8px;

  cursor:pointer;
  transition:0.2s;
}

.delete-btn:hover {
  background: rgba(176,116,151,0.18);
}

.cover-wrap {
  width: 60px;
  height: 60px;
  min-width: 60px;

  border-radius: 12px; /* 🔥 ВОТ ЭТО ТЫ УБРАЛ */
  overflow: hidden;

  background: rgba(101, 58, 73, 0.325);
  border: 1px solid rgba(255,255,255,0.06);

  display: flex;
}

.track-number {
  width: 30px;
  min-width: 30px;

  font-size: 16px;
  font-weight: 600;
  color: rgba(255,255,255,0.35);

  text-align: center;
}
.track-actions {
  position: relative;
  z-index: 10;
}
.video-background {
  pointer-events: none;
}
